<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-alert
            style="
              z-index: 100;
              max-width: 300px;
              position: absolute;
              right: 10px;
              top: 10px;
            "
            shaped
            dismissible
            :type="alert.type"
            :value="alert.show"
            >{{alert.message}}</v-alert
          >
          <v-container
            v-if="mess && Object.keys(mess) && Object.keys(mess).length"
          >
            <v-card
              elevation="3"
              v-for="(val1,index1) in Object.keys(mess)"
              :key="index1"
              class="pa-1 ma-1"
            >
              <!-- {{ textDetails[index1] = {} }} {{ textDetails[index1]["tag"] = {}
              }} {{ textDetails[index1]["folder"] = {} }} -->
              <h1 class="mb-2 pb-2 ml-1">
                {{val1}} (nodeId: {{mess[val1]['nodeId']}})
              </h1>
              <v-row>
                <h2 class="pl-4">Tags</h2>
              </v-row>
              <v-row>
                <v-col
                  v-for="(valt1,index2) in Object.keys(mess[val1]['tag'])"
                  :key="index2"
                >
                  <v-card elevation="3" class="pa-1 ma-1">
                    <h4>
                      {{valt1}} (nodeId: {{mess[val1]['tag'][valt1]['nodeId']}})
                    </h4>
                    <v-chip class="mt-2" color="orange"
                      >{{(mess[val1]['tag'][valt1]['value'])}}</v-chip
                    >
                    <v-row>
                      <v-col
                        v-if="mess[val1]['tag'][valt1]['dataType']=='Double'"
                      >
                        <v-text-field
                          v-model="textDetails[index1]['tag'][index2]"
                          type="number"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col
                        v-if="mess[val1]['tag'][valt1]['dataType']=='Boolean'"
                      >
                        <v-autocomplete
                          v-model="textDetails[index1]['tag'][index2]"
                          :items="[true,false]"
                        ></v-autocomplete>
                      </v-col>
                      <v-col
                        v-if="mess[val1]['tag'][valt1]['dataType']=='String'"
                      >
                        <v-text-field
                          v-model="textDetails[index1]['tag'][index2]"
                          type="text"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col>
                        <v-btn
                          rounded
                          color="primary"
                          @click="modifyData({nodeId:mess[val1]['tag'][valt1]['nodeId'],value:textDetails[index1]['tag'][index2],dataType:mess[val1]['tag'][valt1]['dataType']})"
                        >
                          Submit
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
              <h2 class="pl-4 pt-3">Folders</h2>
              <v-row>
                <v-col
                  v-for="(val2,index3) in Object.keys(mess[val1]['folder'])"
                  :key="index5"
                >
                  <!-- {{ textDetails[index1]['folder'][index5]={} }} {{
                  textDetails[index1]['folder'][index5]['tag']={} }} -->
                  <v-card elevation="3" class="pa-1 ma-1">
                    <h3 class="ml-1">
                      {{val2}} (nodeId:
                      {{mess[val1]['folder'][val2]['nodeId']}})
                    </h3>
                    <v-row>
                      <h4 class="pl-4 pt-3">Tags</h4>
                    </v-row>
                    <v-row>
                      <v-col
                        v-for="(valt2, index4) in Object.keys(mess[val1]['folder'][val2]['tag'])"
                        :key="index4"
                      >
                        <v-card elevation="3" class="pa-1 ma-1">
                          <h4>
                            {{valt2}} (nodeId:
                            {{mess[val1]['folder'][val2]['tag'][valt2]['nodeId']}})
                          </h4>
                          <v-chip class="mt-2" color="orange"
                            >{{(mess[val1]['folder'][val2]['tag'][valt2]['value'])}}</v-chip
                          >
                          <v-row>
                            <v-col
                              v-if="mess[val1]['folder'][val2]['tag'][valt2]['dataType']=='Double'"
                            >
                              <v-text-field
                                v-model="textDetails[index1]['folder'][index3]['tag'][index4]"
                                type="number"
                              >
                              </v-text-field>
                            </v-col>
                            <v-col
                              v-if="mess[val1]['folder'][val2]['tag'][valt2]['dataType']=='Boolean'"
                            >
                              <v-autocomplete
                                :items="[true,false]"
                                v-model="textDetails[index1]['folder'][index3]['tag'][index4]"
                              ></v-autocomplete>
                            </v-col>
                            <v-col
                              v-if="mess[val1]['folder'][val2]['tag'][valt2]['dataType']=='String'"
                            >
                              <v-text-field
                                v-model="textDetails[index1]['folder'][index3]['tag'][index4]"
                                type="text"
                              >
                              </v-text-field>
                            </v-col>
                            <v-col>
                              <v-btn
                                rounded
                                color="primary"
                                @click="modifyData({nodeId:mess[val1]['folder'][val2]['tag'][valt2]['nodeId'],value:textDetails[index1]['folder'][index3]['tag'][index4],dataType:mess[val1]['folder'][val2]['tag'][valt2]['dataType']})"
                              >
                                Submit
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
            </v-card>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          count: 0,
          alert: {
            show: false,
            message: "",
            type: "error",
          },
          textDetails: {
            0: {
              tag: {},
              folder: {
                0: { tag: {} },
                1: { tag: {} },
                2: { tag: {} },
                3: { tag: {} },
                4: { tag: {} },
              },
            },
            1: {
              tag: {},
              folder: {
                0: { tag: {} },
                1: { tag: {} },
                2: { tag: {} },
                3: { tag: {} },
                4: { tag: {} },
              },
            },
            2: {
              tag: {},
              folder: {
                0: { tag: {} },
                1: { tag: {} },
                2: { tag: {} },
                3: { tag: {} },
                4: { tag: {} },
              },
            },
            3: {
              tag: {},
              folder: {
                0: { tag: {} },
                1: { tag: {} },
                2: { tag: {} },
                3: { tag: {} },
                4: { tag: {} },
              },
            },
            4: {
              tag: {},
              folder: {
                0: { tag: {} },
                1: { tag: {} },
                2: { tag: {} },
                3: { tag: {} },
                4: { tag: {} },
              },
            },
          },
          // textDetails: {},
          mess: null,
        },
        created() {
          this.getData();

          console.log("text details", this.textDetails);
          console.log("created");
          this.count = 1;
        },
        // watch: {
        //   mess(val) {
        //     this.getData();
        //     // if (this.count > 0) {
        //     // await this.prepareTextdDetails();
        //     // this.count = 0;
        //     // }
        //   },
        //   // textDetails(val) {
        //   //   console.log("text", val);
        //   // },
        // },
        // mounted() {
        //   console.log(this.mess);
        // },
        methods: {
          getData() {
            axios
              .get("/v1/allData")
              .then((response) => {
                this.mess =
                  response && response.data && response.data.message
                    ? response.data.message
                    : "null";

                // if (this.count > 0) {
                //   this.prepareTextdDetails();
                //   this.count = 0;
                // }
              })
              .catch((error) => {
                this.alert.show = true;
              });
          },
          modifyData(id) {
            axios
              .post("/v1/data", { ...id })
              .then((response) => {
                this.alert.type = "success";
                this.alert.show = true;
                this.getData();
              })
              .catch((error) => {
                this.alert.show = true;
              });
          },
          // prepareTextdDetails() {
          //   console.log("prepareTextdDetails");
          //   if (
          //     this.mess &&
          //     Object.keys(this.mess) &&
          //     Object.keys(this.mess).length
          //   ) {
          //     for (
          //       let index1 = 0;
          //       index1 < Object.keys(this.mess).length;
          //       index1++
          //     ) {
          //       let messArray = Object.keys(this.mess);
          //       this.textDetails[index1] = {};
          //       this.textDetails[index1]["tag"] = {};
          //       this.textDetails[index1]["folder"] = {};
          //       let val1 = messArray[index1];
          //       for (
          //         let index3 = 0;
          //         index3 < Object.keys(this.mess[val1]["folder"]).length;
          //         index3++
          //       ) {
          //         this.textDetails[index1]["folder"][index3] = {};
          //         this.textDetails[index1]["folder"][index3]["tag"] = {};
          //       }
          //     }
          //   }
          // },
        },
      });
    </script>
  </body>
</html>
